.shoplist-container {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
}

.shoplist {
	margin-top: 40px;
	min-height: 50rem;
	height: auto;
	width: 60%;
	background-color: rgba(40, 40, 40, 0.5);
}

.shoplist .shoplist-title {
	display: flex;
	justify-content: center;
}

.shoplist-content {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
}

@media (max-width: 1500px) {
	.shoplist {
		width: 70%;
	}
}

@media (max-width: 1200px) {
	.shoplist {
		width: 75%;
	}
}

@media (max-width: 900px) {
	.shoplist {
		width: 80%;
	}
}

@media (max-width: 900px) {
	.shoplist {
		width: 95%;
	}
}
